<h2>Quick Profile</h2>
<p>I am a Post-doctoral Researcher at <a href="https://www.lut.fi">LUT University</a>. </p>

<p>Feel free to explore my publications and research tasks to get a glance at my academic pursuits. If you share similar research interests or if you'd like to discuss potential collaborations, please don't hesitate to reach out.  </p>

<!--<p>I am a co-designer of the Picnic family of post-quantum digital signature schemes. Picnic is a third-round candidate in the <a href="https://csrc.nist.gov/projects/post-quantum-cryptography">post-quantum crypto project by NIST</a>. For more information, news, and updates refer to <a href="https://www.microsoft.com/en-us/research/project/picnic/">this</a> or to <a href="https://microsoft.github.io/Picnic/">this</a> page.</p> -->



